<section class="about">
  <h3>About us</h3>
  <img src="{{site.base_url}}/assets//images/PawsAway_logo.svg" alt="PawsAway logo" />
  {% capture snippet_content %} {% include /snippets/about-us.md %} {%
  endcapture %}
    {{ snippet_content | markdownify }} 
    <a href="{{site.base_url}}/about"><button>About us</button></a>
    <a href="https://www.facebook.com/boutiquehomestays"><button>f</button></a>
    <a href="https://twitter.com/AwayPaws83276"><button>t</button></a>
    <a href="https://www.instagram.com/elizabeth.dodd.designs/"><button>i</button></a>
</section>
