<!-- Header -->
<header>
  <nav>
    <ul>
      <li>
        <a href="{{site.baseurl}}/" title="Home">
          <img
            src="{{site.baseurl}}/assets/images/PawsAway_logo_horizontal.svg"
            alt="{{page.title}}"
        /></a>
      </li>
    </ul>
    <ul>
      <li><a href="{{site.baseurl}}/blog"><span class="fa-solid fa-cat">&ThickSpace;</span>Blog</a></li>
      <li><a href="{{site.baseurl}}/about"><span class="fa-solid fa-paw">&ThickSpace;</span>About</a></li>
    </ul>
  </nav>
</header>
