---
layout: your_layout
title: your_title 
title_short: short title to fir nicely in cards
author: your_name
description: your_description
image: your_image.webp
tags: your_tag_1, your_tag_2
permalink: your_pemanent_link
featured: false
---

# Instructions
1. Copy this file and rename as .md (remove .template)
2. Fill the fields above. 
3. Don't need to use quotes for text. 
4. Don't need to include path for images
