{% assign featured_posts = site.posts | where: "featured", true | slice: 0, 3 %}
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <!-- Main content -->
    {% include featured_posts.html %}
    <main class="grid">
      <div>
        {% include posts_list.html %}
        {% include pagination.html %}
      </div>
      <div>
        {% include about-us.html %}
        {% include legal-information.html %}
      </div>
    </main>
    {% include footer.html %}
    <!-- Scripts -->
    <script src="{{site.base_url}}/assets/js/script.js"></script>
  </body>
</html>
