{% assign featured_posts = site.posts | where: "featured", true | slice: 0, 3 %} 
<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebSite">
  {% include head.html %}
  <body>
    {% include header.html %}
    <!-- Main content -->
    {% include featured_posts.html %}
    <main class="grid">
      {% include posts_list.html title="Recent Post" %} 
      {% include sidebar.html %}
    </main>
    {% include footer.html %}
    <!-- Scripts -->
    <script src="{{site.base_url}}/assets/js/script.js"></script>
  </body>
</html>
